<div class="container">
  <a class="btn btn-primary" role="button" [routerLink]="['/categories']">back</a>
  <h1>{{article['title']}}</h1>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
      [(ngModel)]="article['title']" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)='save(file)'>Save</button>
    </div>
  </div>
  <div class="images">
    <div class="image" *ngFor="let image of images">
      <img src="{{image}}" alt="">
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>

    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" #file>
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>

  </div>
      <div class="form-group">
        <label for=""></label>
        <textarea class="form-control" name="" id="" rows="3" [(ngModel)]="article['text']"></textarea>
      </div>
</div>
